openapi: 3.1.0
info:
  title: SurveyMonkey API v3 Collectors Contacts API
  description: SurveyMonkey REST API v3 covering users, groups, workgroups, surveys, survey structure (pages/questions), responses and analytics, collectors, and contacts. Authenticated via OAuth 2.0 access tokens passed as Bearer tokens.
  version: 3.0.0
  contact:
    name: SurveyMonkey API documentation
    url: https://api.surveymonkey.com/v3/docs
servers:
- url: https://api.surveymonkey.com/v3
  description: Production
security:
- oauth2: []
tags:
- name: Contacts
paths:
  /contact_lists:
    get:
      tags:
      - Contacts
      summary: List contact lists
      operationId: listContactLists
      responses:
        '200':
          description: Contact lists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /contact_lists/{contact_list_id}/contacts:
    parameters:
    - in: path
      name: contact_list_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Contacts
      summary: List contacts within a contact list
      operationId: listContactsInList
      responses:
        '200':
          description: Contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /contact_lists/{contact_list_id}/contacts/bulk:
    parameters:
    - in: path
      name: contact_list_id
      required: true
      schema:
        type: string
    post:
      tags:
      - Contacts
      summary: Bulk add contacts to a list
      operationId: bulkAddContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contacts:
                  type: array
                  items:
                    $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: Bulk add result
components:
  schemas:
    Contact:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
    Collection:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        per_page:
          type: integer
        page:
          type: integer
        total:
          type: integer
        links:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.surveymonkey.com/oauth/authorize
          tokenUrl: https://api.surveymonkey.com/oauth/token
          scopes:
            surveys_read: Read surveys
            surveys_write: Create and modify surveys
            responses_read: Read responses
            responses_write: Create and modify responses
            contacts_read: Read contacts
            contacts_write: Modify contacts
            users_read: Read user data
