openapi: 3.1.0
info:
  title: SurveyMonkey API v3 Collectors API
  description: SurveyMonkey REST API v3 covering users, groups, workgroups, surveys, survey structure (pages/questions), responses and analytics, collectors, and contacts. Authenticated via OAuth 2.0 access tokens passed as Bearer tokens.
  version: 3.0.0
  contact:
    name: SurveyMonkey API documentation
    url: https://api.surveymonkey.com/v3/docs
servers:
- url: https://api.surveymonkey.com/v3
  description: Production
security:
- oauth2: []
tags:
- name: Collectors
paths:
  /surveys/{survey_id}/collectors:
    parameters:
    - in: path
      name: survey_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Collectors
      summary: List collectors for a survey
      operationId: listSurveyCollectors
      responses:
        '200':
          description: Collectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /collectors/{collector_id}/messages/{message_id}/send:
    parameters:
    - in: path
      name: collector_id
      required: true
      schema:
        type: string
    - in: path
      name: message_id
      required: true
      schema:
        type: string
    post:
      tags:
      - Collectors
      summary: Send a collector invitation message
      operationId: sendCollectorMessage
      responses:
        '202':
          description: Send requested
  /collectors/{collector_id}/recipients:
    parameters:
    - in: path
      name: collector_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Collectors
      summary: List collector recipients
      operationId: listCollectorRecipients
      responses:
        '200':
          description: Recipients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
components:
  schemas:
    Collection:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        per_page:
          type: integer
        page:
          type: integer
        total:
          type: integer
        links:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.surveymonkey.com/oauth/authorize
          tokenUrl: https://api.surveymonkey.com/oauth/token
          scopes:
            surveys_read: Read surveys
            surveys_write: Create and modify surveys
            responses_read: Read responses
            responses_write: Create and modify responses
            contacts_read: Read contacts
            contacts_write: Modify contacts
            users_read: Read user data
