openapi: 3.1.0
info:
  title: SurveyMonkey API v3 Collectors Responses API
  description: SurveyMonkey REST API v3 covering users, groups, workgroups, surveys, survey structure (pages/questions), responses and analytics, collectors, and contacts. Authenticated via OAuth 2.0 access tokens passed as Bearer tokens.
  version: 3.0.0
  contact:
    name: SurveyMonkey API documentation
    url: https://api.surveymonkey.com/v3/docs
servers:
- url: https://api.surveymonkey.com/v3
  description: Production
security:
- oauth2: []
tags:
- name: Responses
paths:
  /surveys/{survey_id}/responses:
    parameters:
    - in: path
      name: survey_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Responses
      summary: List survey responses
      operationId: listSurveyResponses
      responses:
        '200':
          description: Responses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /surveys/{survey_id}/responses/bulk:
    parameters:
    - in: path
      name: survey_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Responses
      summary: Retrieve bulk responses
      operationId: listSurveyResponsesBulk
      responses:
        '200':
          description: Bulk responses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /surveys/{survey_id}/rollups:
    parameters:
    - in: path
      name: survey_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Responses
      summary: Response counts (rollups)
      operationId: getSurveyRollups
      responses:
        '200':
          description: Rollups
  /surveys/{survey_id}/trends:
    parameters:
    - in: path
      name: survey_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Responses
      summary: Response trends
      operationId: getSurveyTrends
      responses:
        '200':
          description: Trends
components:
  schemas:
    Collection:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        per_page:
          type: integer
        page:
          type: integer
        total:
          type: integer
        links:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.surveymonkey.com/oauth/authorize
          tokenUrl: https://api.surveymonkey.com/oauth/token
          scopes:
            surveys_read: Read surveys
            surveys_write: Create and modify surveys
            responses_read: Read responses
            responses_write: Create and modify responses
            contacts_read: Read contacts
            contacts_write: Modify contacts
            users_read: Read user data
